:root {
  --background: #d0bdf4;
  --bgSoft: #494d5f;
  --text:white;
  --textSoft:#b7bac1;
}
*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}


body {
  color: var(--text);
  background: var(--background);

}
a{
  color: inherit;
  text-decoration: none;
}
